# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# SQLite database
*.sqlite3
*.db

# Flask instance folder
instance/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# macOS
.DS_Store

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/

# Test cache
.pytest_cache/

