/* Filename: styles.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  color: #eee;
  font-family: sans-serif;
  font-size: 1.6rem; /* = 16px */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

button, input, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body, html {
  min-height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 2rem 4rem;
  z-index: 100;
  border: solid 1px #90ee90;
}

header h2 {
  color: #eee;
}

header a {
  color: #90ee90;
  margin-left: 2rem;
}

header a:hover {
  color: #eee;
  cursor: pointer;
}

main {
  flex: 1;
  width: 90%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main .hero {
  text-align: center;
  margin: 0.1rem;
  width: 100%;
  padding: 3rem;
  background-color: #222;
  border: solid 1px #90ee90;
  border-radius: 10px;
}

main .hero button {
  padding: 1rem;
  width: 50%;
  border-radius: 1rem;
  background-color: #90ee90;
  color: #111;
  transition: 0.5s ease;
  margin-top: 1rem;
}

main .hero button:hover {
  cursor: pointer;
  background-color: #80ee80;
  transform: translateY(-1rem);
}

main .card {
  display: flex;
  margin-top: 3rem;
  border-radius: 1rem;
  border: solid 1px #90ee90;
  padding: 1.5rem;
  color: #ccc;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222;
}

main .card button {
  margin-top: 1.3rem;
  padding: 1rem;
  width: 20%;
  border-radius: 1rem;
  color: #111;
  background-color: #90ee90;
  transition: 0.5s ease;
}

main .card button:hover {
  cursor: pointer;
  background-color: #80ee80;
  transform: translateY(-1rem);
}

footer {
  width: 100%;
  padding: 2rem;
  background-color: #222;
  text-align: center;
  margin-top: 2rem;
}

footer small a {
  color: #90ee90;
}
