# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media files (uploads)
media/

# Static files
staticfiles/
static/

# Pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# VS Code settings
.vscode/

# PyCharm
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Mac OS
.DS_Store

# Logs and databases
*.log
*.sqlite3
*.sqlite3-journal

# Pipenv
Pipfile.lock

# Celery beat schedule file
celerybeat-schedule

# dotenv environment variables file
.env.*

# mypy
.mypy_cache/

# Django migrations
**/migrations/*.py
!**/migrations/__init__.py

