# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
.venv/
ENV/
env.bak/
*.env

# SQLite database
*.sqlite3
*.db

# Flask instance folder
instance/

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Python-specific
pip-wheel-metadata/
*.egg-info/
.eggs/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml

# MyPy and other analysis tools
.mypy_cache/
.dmypy.json
.pyre/

